body{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, PingFang, "Microsoft YaHei", 雅黑体, SimHei, sans-serif;
}

#headbar{
    max-width: 100%;
    width: 100vw;
    height: 35px;
    background-color: #f5f5f5;
    padding: 0px 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jordan{
    width: 20px;
}

#headbar-info{
    width: 145px;
}

#headbar-info a{
    text-decoration: none;
    color: black;
}

#headbar-info ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

#headbar-info ul li{
    list-style-type: none;
    font-size: 12px;
}

#nav-bar{
    width: 100vw;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
}

#sub-nav-bar{
    width: 100vw;
    height: 60px;
    padding: 0 3vw;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    align-items: center;
    overflow-y: hidden;
}

#logo-box{
    width: 4vw;
}

#logo{
    width: 50px;
}

#sub-nav-box{
    width: 84vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-box{
    width: 84vw;
    height: 215px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#empty-box{
    width: 13vw;
    height: 60px;
    visibility: hidden;
}

#nav{
    width: 58vw;
    height: 60px;
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#nav ul li{
    list-style-type: none;
    padding: 18px 12px 14px;
}

#nav ul li:hover{
    border-bottom: 2px solid black;
}

#nav ul li a{
    text-decoration: none;
    color: black;
}

#search-box{
    width: 187px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
}

#search-container{
    background-color: #f5f5f5;
    width: 170px;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 100px;
}

#btn-container{
    width: 30px;
    margin-right: 5px;
    margin-left: 15px;
}

#search-btn{
    width: 25px;
}

#search{
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #f5f5f5;
    outline: none;
}

#suggest{
    width: 50vw;
}

#suggest ul{
    padding: 0;
}

#suggest ul li{
    list-style-type: none;
    padding: 5px 0;
}

#icon-box{
    width: 6vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#like{
    width: 25px;
}

#bag1{
    width: 28px;
}

#like-icon-box, .sub-icon-box{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger-box, #sub-search-box, #sub-search-box2{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.sub-icon-box:hover, #sub-search-box:hover, #hamburger-box:hover, #like-icon-box:hover, #close-btn:hover{
    background-color:#f0eeee ;
}

#hamburger-menu{
    width: 320px;
    height:100vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    padding: 15px;
    padding-bottom: 0;
    position: absolute;
    right: -200px;
    z-index: 2;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}

#sub-hamburger-menu{
    width: 290px;
    height: 95vh;
    overflow-y: scroll;
}

#sub-hamburger-menu::-webkit-scrollbar{
    display: none;
}

#close-bar{
    width: 290px;
    height: 40px;
}

#close-btn{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    cursor: pointer;
}

#hamburger-nav-bar{
    width: 280px;
}

#hamburger-nav-bar ul{
    margin: 0;
    padding-left: 20px;
}

#hamburger-nav-bar li{
    height: 50px;
    list-style-type: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}

#hamburger-nav-bar li p{
    font-size: 24px;
}

.arrow{
    width: 16px;
}

#Jordan-bar{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    cursor: pointer;
}

#Jordan-text{
    padding-left: 15px;
    margin: 0;
}

#info-bar{
    width: 270px;
    padding-left: 20px;
    margin-top: 100px;
}

#info-bar p{
    color: rgb(134, 133, 133);
    font-size: 20px;
}

#info-bar p span{
    color: black;
    cursor: pointer;
}

#join-login{
    display: flex;
    align-items: center;
}

#join{
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: black;
    color: white;
    border: black 1px solid;
    border-radius: 50px;
    margin-right: 10px;
}

#join:hover{
    background-color: rgb(112, 112, 112);
    border:rgb(112, 112, 112) 1px solid ;
    cursor: pointer;
}

#login{
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 50px;
}

#login:hover{
    border: solid 1px black;
    cursor: pointer;
}

#order-bar{
    padding-left: 20px;
    margin-top: 100px;
    cursor: pointer;
}

#bag2{
    width: 24px;
}

.order-bar-item{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.order-bar-item p{
    margin: 0;
    margin-left: 15px;
}

#ham-men-menu{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -30px;
}

.return-bar{
    width: 250px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.return-bar p{
    margin-left: 10px;
    margin-bottom: 0;
}

#ham-men-nav-bar, #ham-women-nav-bar, #ham-kid-nav-bar, #ham-customization-nav-bar, #ham-sale-nav-bar{
    width: 290px;
    padding: 0 20px;
}

.category{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 30px;
}

#ham-men-nav-bar ul{
    padding: 0;
}

#ham-men-nav-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-men-nav-bar ul li p{
    margin: 0;
}

#men-list1-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list1-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list1-nav-bar ul{
    padding: 0;
}

#men-list1-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#men-list2-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list2-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list2-nav-bar ul{
    padding: 0;
}

#men-list2-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#men-list3-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list3-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list3-nav-bar ul{
    padding: 0;
}

#men-list3-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#men-list4-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list4-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list4-nav-bar ul{
    padding: 0;
}

#men-list4-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#men-list5-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list5-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list5-nav-bar ul{
    padding: 0;
}

#men-list5-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#men-list6-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#men-list6-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#men-list6-nav-bar ul{
    padding: 0;
}

#men-list6-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-women-menu{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -30px;
}

#ham-women-nav-bar ul{
    padding: 0;
}

#ham-women-nav-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-women-nav-bar ul li p{
    margin: 0;
}

#women-list1-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#women-list1-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list1-nav-bar ul{
    padding: 0;
}

#women-list1-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#women-list2-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#women-list2-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list2-nav-bar ul{
    padding: 0;
}

#women-list2-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#women-list3-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
    overflow-y: scroll;
}

#women-list3-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list3-nav-bar ul{
    padding: 0;
}

#women-list3-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#women-list4-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#women-list4-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list4-nav-bar ul{
    padding: 0;
}

#women-list4-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#women-list5-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#women-list5-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list5-nav-bar ul{
    padding: 0;
}

#women-list5-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#women-list6-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#women-list6-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#women-list6-nav-bar ul{
    padding: 0;
}

#women-list6-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-kid-menu{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -30px;
}

#ham-kid-nav-bar ul{
    padding: 0;
}

#ham-kid-nav-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-kid-nav-bar ul li p{
    margin: 0;
}

#kid-list1-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list1-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list1-nav-bar ul{
    padding: 0;
}

#kid-list1-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list2-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list2-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list2-nav-bar ul{
    padding: 0;
}

#kid-list2-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list3-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list3-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list3-nav-bar ul{
    padding: 0;
}

#kid-list3-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list4-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list4-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list4-nav-bar ul{
    padding: 0;
}

#kid-list4-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list5-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list5-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list5-nav-bar ul{
    padding: 0;
}

#kid-list5-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list6-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list6-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list6-nav-bar ul{
    padding: 0;
}

#kid-list6-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#kid-list7-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#kid-list7-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#kid-list7-nav-bar ul{
    padding: 0;
}

#kid-list7-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-customization-menu{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -30px;
}

#ham-customization-nav-bar ul{
    padding: 0;
}

#ham-customization-nav-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-customization-nav-bar ul li p{
    margin: 0;
}

#customization-list1-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#customization-list1-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#customization-list1-nav-bar ul{
    padding: 0;
}

#customization-list1-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#customization-list2-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#customization-list2-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#customization-list2-nav-bar ul{
    padding: 0;
}

#customization-list2-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#customization-list3-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#customization-list3-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#customization-list3-nav-bar ul{
    padding: 0;
}

#customization-list3-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#customization-list4-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#customization-list4-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#customization-list4-nav-bar ul{
    padding: 0;
}

#customization-list4-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-sale-menu{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -30px;
}

#ham-sale-nav-bar ul{
    padding: 0;
}

#ham-sale-nav-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#ham-sale-nav-bar ul li p{
    margin: 0;
}

#sale-list1-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#sale-list1-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#sale-list1-nav-bar ul{
    padding: 0;
}

#sale-list1-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#sale-list2-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#sale-list2-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#sale-list2-nav-bar ul{
    padding: 0;
}

#sale-list2-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#sale-list3-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#sale-list3-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#sale-list3-nav-bar ul{
    padding: 0;
}

#sale-list3-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#sale-list4-container{
    width: 290px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    right: -60px;
}

#sale-list4-nav-bar{
    width: 250px;
    padding: 0 20px;
}

#sale-list4-nav-bar ul{
    padding: 0;
}

#sale-list4-nav-bar ul li{
    list-style-type: none;
    color: rgb(122, 121, 121);
    cursor: pointer;
    margin-bottom: 15px;
}

#close-btn1, #close-btn3{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color:#f0eeee;
    margin-left: 30px;
    display: none;
}

#close-btn2, #close-btn4{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    display: none;
    background-color:#f0eeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger{
    width: 30px;
}

#sub-search{
    width: 25px;
}

#search2{
    border: none;
    width: 50vw;
    height: 30px;
    font-size: 16px;
    background-color: #F1EEEE;
    outline: none;
    margin-left: 15px;
    display: none;
}

#nav-item-container1, #nav-item-container2, #nav-item-container3, #nav-item-container4, #nav-item-container5{
    width: 100vw;
    background-color: white;
    display: none;
}

#men-nav-item, #women-nav-item, #kid-nav-item, #customization-nav-item, #sale-nav-item{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.nav-item{
    width:15vw ;
    margin-right: 10px;
}

.nav-item p{
    margin-top: 0;
    margin-bottom: 15px;
}

.nav-item p a{
    text-decoration: none;
    color: black;
}

.nav-item-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.nav-item-list li{
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.nav-item-list a{
    text-decoration: none;
    color: rgb(139, 136, 136);
}

.nav-item-list a:hover{
    text-decoration: none;
    color: rgb(26, 25, 25);
}

#product-header{
    width: 100vw;
    padding: 0 3vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

#product-header p{
    margin: 0;
}

#header-title{
    width: 79vw;
    font-size: 24px;
}

#select-container{
    width: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#sub-select-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-header-text{
    cursor: pointer;
}

#sort-by{
    display: flex;
    align-items: center;
}

.drop-arrow{
    width: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.up-arrow{
    width: 14px;
    margin-left: 5px;
    display: none;
    cursor: pointer;
}

#rwd-sidebar-nav{
    width: 100vw;
    padding-left: 3vw;
    height: 50px;
    border-bottom: 1px solid lightgray;
    overflow-x: scroll;
    display: none;
}

#rwd-sidebar-nav::-webkit-scrollbar{
    display: none;
}

#rwd-sidebar-nav ul{
    width: 900px;
    padding: 0 3vw 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
}

#rwd-sidebar-nav ul li{
    list-style-type: none;
}

#sort-by-container{
    width: 100vw;
    padding-right: 3vw;
    height: 0;
    display: flex;
    justify-content: flex-end;
}

#sort-by-item{
    padding: 0;
    margin: 0;
    width: 140px;
    height: 120px;
    text-align: end;
    border-radius: 0 0 0 20px;
    display: none;
    background-color: white;
    z-index: 1;
}

#sort-by-item li{
    list-style-type: none;
    margin-top: 5px;
}

#rwd-screen-bar{
    width: 100vw;
    padding: 0 3vw;
    height: 60px;
    background-color: white;
    display: none;
}

#rwd-screen{
    width: 90px;
    height: 35px;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 50px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

#rwd-screen:hover{
    border: black 1px solid;
}

#rwd-screen-container{
    width: 100vw;
    padding: 20px 2vw 0;
    height: auto;
    display: none;
}

#title-bar{
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-weight: 400;
    margin: 0;
}

#screen-close-btn{
    width: 40px;
    cursor: pointer;
}

#rwd-sort-by-title{
    margin: 25px 0 15px 0;
    font-weight: 500;
}

#form-check-container{
    margin: 0 0 30px 0;
}

.form-check{
    margin-bottom: 8px;
}

.form-check-input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.form-check-label{
    margin-left: 5px;
}

#rwd-screen-container hr{
    width: 96vw;
}

.rwd-sort-by-title{
    font-weight: 500;
    margin-bottom: 20px;
}

#rwd-sort-by-color ul{
    width: 90vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#rwd-sort-by-color ul li{
    width: 30vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

#rwd-sort-by-color ul li:hover{
    color: gray;
}

.rwd-color{
    font-size: 14px;
}

#rwd-color-purple{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: purple;
}

#rwd-color-black{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: black;
}

#rwd-color-red{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: red;
}

#rwd-color-orange{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: orange;
}

#rwd-color-blue{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: lightskyblue;
}

#rwd-color-white{
    width: 29px;
    height: 29px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid rgb(186, 189, 192);
}

#rwd-color-brown{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(88, 71, 71);
}

#rwd-color-green{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(68, 179, 68);
}

#rwd-color-yellow{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: yellow;
}

#rwd-sort-by-brand ul, #rwd-sort-by-sport ul{
    height: 130px;
    overflow-y: hidden;
    padding: 0;
}

#rwd-sort-by-suitable ul{
    padding: 0;
}

#rwd-sort-by-brand ul li, #rwd-sort-by-sport ul li, #rwd-sort-by-suitable ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rwd-brand-box, .rwd-sport-box, .rwd-suitable-box{
    width: 19px;
    height: 19px;
    border-radius: 5px;
    border: 1px solid rgb(170, 169, 169);
    margin-right: 10px;
    cursor: pointer;
}

.rwd-show-more{
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.more-icon, .less-icon{
    width: 12px;
}

.rwd-show-less{
    cursor: pointer;
    display: none;
}

#sidebar{
    width: 19vw;
    height: auto;
}

#sidebar-inner-container{
    width: 19vw;
    height: 97vh;
    overflow-y: scroll;
    margin-top: 3vh;
}

#sidebar-nav{
    padding: 0;
    margin-bottom: 40px;
}

#sidebar-nav a, #rwd-sidebar-nav a{
    text-decoration: none;
    color: black;
}

#sidebar-nav li{
    list-style-type: none;
    margin-bottom: 10px;
}

#sidebar-inner-container hr{
    width: 170px;
    margin: 10px 0;
}

.sort-by-title-box{
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sort-by-color{
    width: auto;
    height: 30px;
    overflow-y: hidden;
}

#sort-by-color ul{
    width: 170px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sort-by-color ul li{
    width: 56px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

#sort-by-color ul li:hover{
    color: gray;
}

.color{
    font-size: 14px;
}

#color-purple{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: purple;

}

#color-black{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: black;
}

#color-red{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: red;
}

#color-orange{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: orange;
}

#color-blue{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: lightskyblue;
}

#color-white{
    width: 29px;
    height: 29px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid rgb(186, 189, 192);
}

#color-brown{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(88, 71, 71);
}

#color-green{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(68, 179, 68);
}

#color-yellow{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: yellow;
}

#sort-by-brand, #sort-by-sport, #sort-by-suitable{
    width: auto;
    height: 30px;
    overflow-y: hidden;
}

#sort-by-brand ul, #sort-by-sport ul{
    width: 170px;
    height: 110px;
    overflow-y: hidden;
    padding: 0;
}

#sort-by-brand ul li, #sort-by-sport ul li, #sort-by-suitable ul li{
    width: 170px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.brand-box, .sport-box, .suitable-box{
    width: 19px;
    height: 19px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 10px;
    cursor: pointer;
}

.show-more{
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.more-icon, .less-icon{
    width: 12px;
}

.show-less{
    cursor: pointer;
    display: none;
}

#sort-by-suitable ul {
    width: 170px;
    height: auto;
    padding: 0;
}

#main-product{
    width: 100vw;
    padding: 0 3vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#main-product-container{
    width: 75vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding: 3vh  0 0 3vw;
}

.item-container{
    width: 23vw;
    height: auto;
    margin-bottom: 50px;
}

.link-style, .link-style:hover{
    color: black;
    text-decoration: none;
}

.item-info{
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-info img{
    width: 23vw;
}

.item-info h4{
    margin: 10px 0 0 15px;
    font-weight: 500;
    font-size: 16px;

}

.item-info p{
    margin: 10px 0 0 15px;
    color: rgb(109, 107, 107);
}

#main-product-container hr{
    width: 75vw;
}

#related-category{
    width: 75vw;
    height: auto;
    margin: 40px 0;
}

#related-category h5{
    font-weight: 400;
    margin: 0 0 25px 0;
}

#related-category ul{
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#related-category ul li{
    list-style-type: none;
    border: rgb(197, 194, 194) 1px solid;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    margin: 0 8px 10px 0;
}

#related-category a{
    text-decoration: none;
    color: black;
}

#footer{
    width: 100vw;
    padding: 0 3vw;
    height: auto;
    background-color: black;
    clear: both;
}

#footer-info{
    width: 94vw;
    height: 260px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#footer-info-text{
    width: 38vw;
    height: 260px;
    display:flex ;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#footer-info-text div p{
    font-size: 14px;
    color: rgb(207, 204, 204); 
}

#footer-info-text ul{
    padding: 0;
}

#footer-info-text ul li{
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 12px;
    color: rgb(139, 136, 136);
}

.footer-text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop{
    width: 20px;
    display: none;
    cursor: pointer;
}

.up{
    width: 16px;
    display: none;
    cursor: pointer;
}

#social-media{
    width: 56vw;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.circle{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: rgb(187, 184, 184);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.circle:hover{
    background-color:rgb(243, 241, 241) ;
}

.media-icon{
    width: 20px;
}

#sub-footer-info{
    width: 94vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-footer-info1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    color: white;
}

#sub-footer-info1 p{
    color:rgb(139, 136, 136) ;
    font-size: 10px;
    margin: 0;
    margin-right: 15px;
}

#map-icon{
    width: 22px;
}

#sub-footer-info2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}

#sub-footer-info2 p{
    margin: 0;
    font-size: 10px;
    margin-left: 30px;
    color: rgb(139, 136, 136);
}


.navFixed {
    z-index: 10;          
    position: fixed;      
    top: 0%;
    margin-top: 0;
    min-width: 100%;
    transition: opacity .5s ease-out;  
}

.sidebarFixed{
    position:sticky;
    top: 5%;
}

.product-headerFixed{
    z-index: 10;          
    position: fixed;      
    top: 0%;
    margin-top: 0;
    transition: opacity .5s ease-out;
}

.sort-by-containerFixed{
    z-index: 10;          
    position: fixed;      
    top: 5.5%;
    margin-top: 0;
    transition: opacity .5s ease-out;
}

@media only screen and (max-width:960px){
    body{
        overflow-x: hidden;
    }
    #headbar, #nav-box, #like-icon-box{
        display: none;
    }
    #icon-box{
        width: 90vw;
        justify-content: flex-end;
    }
    .sub-icon-box{
        width: 40px;
        height: 40px;
    }
    #bag{
        width:30px;
    }
    #sidebar, #select-container, #related-category div::-webkit-scrollbar{
        display: none;
    }
    #rwd-sidebar-nav{
        display: block;
    }
    #header-title{
        font-size: 20px;
    }
    #rwd-screen-bar{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    #main-product, #main-product-container, #main-product hr{
        width: 100vw;
        padding: 0;
    }
    .item-container, .item-info, .item-info img{
        width: 49vw;
    }
    .item-container{
        margin-bottom: 20px;
    }
    #related-category{
        width: 100vw;
        padding-left: 2vw;
    }
    #related-category div{
        width: 100vw;
        padding-right: 2vw;
        overflow-x: scroll;
    }
    #related-category ul{
        width: 1450px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}


@media only screen and (min-width:960px){
    #hamburger-box, #sub-search-box, #hamburger-menu{
        display: none;
    }
}

@media only screen and (min-width:360px) and (max-width: 600px){
    #footer{
        width: 100vw;
        height: auto;
        padding: 0 4vw;
    }
    #footer-info{
        height: auto;
        width: 92vw;
        flex-direction: column;
    }
    #footer-info-text{
        width: 92vw;
        height: auto;
        flex-direction: column;
    }
    #social-media{
        width: 92vw;
        height: auto;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    .circle{
        margin-left: 0;
        margin-right: 15px;
    }
    #sub-footer-info{
        width: 92vw;
        flex-direction: column;
        align-items: flex-start;
    }
    #sub-footer-info1{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    #sub-footer-info1 p{
        margin-bottom: 10px;
    }
    #sub-footer-info2{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #sub-footer-info2 p{
        margin-left: 0;
        margin-bottom: 30px;
    }
    #footer-info-text{
        width: 92vw;
        height: auto;
        margin-bottom: 50px;
    }
    #footer-info-text p{
        width: 88vw;
    }
    #footer-info-text ul{
        height: 160px;
    }
    #footer-info-text > #footer-text3{
        height: 30px;
        overflow-y: hidden;
    }
    #footer-info-text > #footer-text2{
        height: 30px;
        margin-bottom: 8px;
        overflow-y: hidden;
    }
    .drop{
        display: block;
    }
}